* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: ; */
}

/* header */
header {
  padding: 20px 0;
  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
}
.header-top a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: bolder;
}
.header-bottom a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  /* background-color: #fff; */
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 200%);
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* selection */
#selected {
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 200%);
  color: black;
  font-size: 20px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
}
