* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: ; */
}
body {
  background-color: #f3f3f3;
}
/* header */
header {
  padding: 20px 0;
  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
}
.header-top a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: bolder;
}
.header-bottom a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  /* background-color: #fff; */
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 200%);
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* cart */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}
th {
  background-color: #fff;
  padding: 10px;
}
th,
td {
  /* border: 1px #ccc solid; */
  text-align: center;
}
td div {
  width: calc(100% - 20px);
  padding: 0px 10px;
  text-align: right;
}
th div {
  width: calc(100% - 10px);
  padding: 0px 5px;
  text-align: right;
  font-size: 1.5rem;
}
td img {
  width: 100px;
}
/* box product */
.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1.5fr);
  gap: 16px;
}
.product-item {
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  background-color: #fff;
}
.product-item img {
  transition: all 0.3s;
}
.product-item:hover img {
  transform: translateY(-15px);
}
.product-item p {
  margin-bottom: 8px;
  margin-top: 8px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 18px;
  transition: all 0.3s;
}
.product-item p:hover {
  color: #9face6;
}
.product-item img {
  padding-top: 20px;
  width: 100%;
}
.product-desc .price {
  color: red;
  font-weight: 600;
  font-size: large;
}
/* modal */
.modal-content {
  border-radius: 0;
  border: none;
}

/* selection */
#selected {
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 200%);
  color: black;
  font-size: 20px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
}

#btn-minus {
  border: none;
  background-color: #fff;
}
#btn-plus {
  border: none;
  background-color: #fff;
}
#txt-so-luong {
  border: none;
  background-color: #fff;
}

#table {
  border-radius: 10px;
}
